
.chessboard {
  width: 290px;
  height: 290px;
  background: #bbada0;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  .cell {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(238, 228, 218, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .game-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message {
      color: #776e65;
      font-size: 30px;
      margin: 0 0 20px;
    }

    .play-btn {
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
      background: #8f7a66;
      font-weight: bold;
      border-radius: 5px;
    }
  }
}
