
.app {
  position: fixed;
  top: 0;
  right: 0;;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  .wrap {
    width: 320px;
    height: 390px;
    background: #faf8ef;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .header {
      width: 280px;
      height: 55px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .title {
        font-size: 28px;
        font-weight: bolder;
      }

      .info {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        height: 100%;

        .block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 10px;
          color: #eee4da;
          border-radius: 5px;
          background: #bbada0;
          margin-left: 5px;

          .name {
            margin: 0;
            font-size: 12px;
          }

          .score {
            margin: 0;
            color: #fff;
            font-size: 24px;
          }
        }
      }
    }
  }
}
